
<div class="row">
  <div class="col-xl-12">
    <app-card cardTitle="Lista de usuários." [options]="false" blockClass="table-border-style">
      <div style="text-align: right;">
      <button type="submit" style="right: 110px;"  class="btn btn-secondary" [routerLink]="['/register-user']"><i class="feather icon-user-plus"></i>Novo</button>
    </div>
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
          <tr>

            <th>#</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Data Cadastro</th>
            <th>Parceiro</th>
            <th>Ativo</th>
            <th>Editar</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let user of allUsers | paginate: { itemsPerPage: 10, currentPage: paginaAtual }; let i = index ; ">

            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.dateRegister | date:'dd.MM.yyyy'}}</td>
            <td>{{user.partner}}</td>
            <td>{{user.active && 'Ativo' || 'Inativo'}}</td>
            <td><button (click)="goToEdit(user)" class="btn-sm btn-icon btn-info"><i class="feather icon-edit"></i></button></td>
          </tr>
          </tbody>
        </table>
        <pagination-controls (pageChange)="paginaAtual = $event" previousLabel="Anterior" style="text-align: center;" nextLabel="Próximo"></pagination-controls>
      </div>
    </app-card>
  </div>
