<div class="row">
  <div class="col-xl-12">
    <app-card cardTitle="LISTA DE PRODUTOS" [options]="false" blockClass="table-border-style">
      <div style="text-align: right;">
      <button type="submit" style="right: 110px;"  class="btn btn-secondary" [routerLink]="['/register-product']"><i class="feather icon-plus"></i>Adicionar</button>
    </div>
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
          <tr>

            <th>#</th>
            <th>Nome</th>
            <th>Fabricante</th>
            <th>Tipo</th>
            <th>Estoque</th>
            <th>Preço</th>
            <th>Editar</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let product of allProduct | paginate: { itemsPerPage: 10, currentPage: paginaAtual }; let i = index ; ">

            <td>{{product.id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.producer}}</td>
            <td>{{product.type}}</td>
            <td>{{product.stock}}</td>
            <td>{{product.price}}</td>
            <td><button (click)="editProduct(product)" class="btn-sm btn-icon btn-info"><i class="feather icon-edit"></i></button></td>
          </tr>
          </tbody>
        </table>
        <pagination-controls (pageChange)="paginaAtual = $event" previousLabel="Anterior" style="text-align: center;" nextLabel="Próximo"></pagination-controls>
      </div>
    </app-card>
  </div>
